<div id="person" class="card bg-info">
  <h4 class="text-center "> Person Info </h4>
  <div class="card-block bg-info">
    <label for="firstName">First Name</label>
    <input class="form-control" type="text" id="firstName" class="text" name="" value="{{person.firstName}}">
    <br/>
    <label for="lastName">Last Name</label>
    <input class="form-control" type="text" id="lastName" class="text" name="" value="{{person.lastName}}">
    <br/>
    <label for="eMail">Email</label>
    <input class="form-control" type="text" id="eMail" class="text" name="" value="{{person.eMail}}">
  </div>
</div>
